@use '../../scss/' as *;

.header-homepage {
    background: url('../../common/assets/VansBackground.jpg') no-repeat center;
    height: 95vh;
    background-size: cover;

    &-scroll {
        @include flex(center !important, center);
        flex-direction: column !important;

        & > h4 {
            margin-top: 1rem !important;
        }
    }
}

.header-list {
    &-content {
        font-weight: 100 !important;
        margin-top: 30px !important;
        opacity: 0.8;
    }
}

.header-info {
    display: flex;
    flex-direction: column !important;
    margin: 12rem 6rem;

    &-title {
        font-size: 6rem !important;
        font-weight: 100 !important;
        letter-spacing: 0.3rem;
    }

    &-content {
        letter-spacing: 0.1rem;
        font-weight: 100 !important;
        line-height: 1.9rem !important;
        opacity: 0.8;
        margin-bottom: 2rem !important;
    }
}
