@use '../../scss/' as *;

button {
    cursor: pointer;
}

.btn {
    @include flex(center, center);
    width: fit-content;
    border: 4px solid transparent;
    background-color: $main-color;
    font-family: $font-family;
    padding: 1rem 2.8rem;
    font-size: 1rem;
    font-weight: 500;
    color: $white;
    letter-spacing: 0.1rem;

    &-icon {
        &::before {
            margin-right: -2rem;
        }
    }
}

.btn:hover {
    background: $black;
}
