@use '../../scss/' as *;

.home {
    .ui.segment {
        padding: 0;
    }
    &-feature {
        &-content {
            margin-top: 4rem !important;
        }

        &-title {
            letter-spacing: 0.3rem;
            font-weight: 500 !important;
            font-size: 4rem !important;
        }
    }

    &-image {
        padding: 30px 60px 0px !important;
        background-color: transparent !important;

        @include mobile {
            padding: 0px 60px 0px !important;
            margin: -30px 0 0;
        }
    }

    &-picture {
        width: 40%;
        margin: 100px auto 20px;
    }
}
.border-left {
    border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.price,
.read-more {
    color: red !important;
    margin: 14px 0 100px;
    font-weight: 600;
    @include mobile {
        margin: 14px 0 20px;
    }
}

.read-more {
    text-decoration: underline;
    font-weight: 400;
    margin: 14px 0 30px;
}
// Card product css
.home-card {
    margin-top: 4rem;
}

.card-product {
    &:not(:last-child) {
        border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
    }

    &:hover {
        .card-product-content {
            visibility: inherit;
        }
    }

    width: 100% !important;

    &-container {
        width: 100% !important;
        height: 100% !important;
    }

    &-date {
        display: flex !important;
        background-color: transparent !important;
        padding: 20px 25px !important;
        color: rgba(0, 0, 0, 0.3) !important;
    }

    &-like {
        margin: 0 5px !important;
    }

    &-content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 10px !important;
        visibility: hidden;

        &-btn {
            border-radius: 3px !important;
            padding: 11px 5px !important;

            i {
                margin: 0 !important;
            }
        }

        @include mobile {
            margin: 0 10px !important;
        }
    }

    &-number {
        font-size: 1.7rem !important;
        padding: 30px 20px;
        opacity: 0.7;
    }
}

//Banner style
.homepage-banner {
    &:not(:last-child) {
        border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
    }

    width: 100% !important;
    height: 100%;

    &-content {
        display: flex !important;
    }

    &-number {
        font-size: 6rem !important;
        opacity: 0.1;
        position: absolute;
        top: 1em;
        left: 0.3em;
    }

    &-description {
        margin: 100px 0 0 50px !important;
        color: $black !important;
        line-height: 3.3rem;
        letter-spacing: 0.2rem;
        font-size: 3rem;
        width: 60%;
        font-weight: 600;
    }

    &-elements {
        width: 75%;
        display: flex;
        justify-content: center;
        margin-top: 4rem;

        img {
            width: 250px;
        }
    }
}
