@use '../../scss/' as *;

.header-container {
    background: $black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: $header-height !important;

    @include mobile {
        height: 53px !important;
        .ui.container {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }

    & > div {
        height: 100%;
    }
}

.header-menu {
    font-weight: 300;
    font-size: 1.1rem;

    &-logo {
        max-height: $header-height;
        img {
            height: 100% !important;
        }
    }

    &-search {
        justify-content: left !important;
        max-height: 6rem;

        input {
            color: white !important ;
        }
        input::placeholder {
            font-family: var(--font-family);
        }

        & > div {
            width: 100% !important;
            margin-left: 30px !important;
        }
    }

    &-content {
        justify-content: center;
        max-height: 6rem;
    }

    &-card {
        max-height: 6rem;
        justify-content: center;
        border-left: 1px solid gray;
    }

    &-content,
    &-search,
    &-card {
        color: white;
        display: flex !important;
        align-items: center;
    }
}
