@use '../../scss/' as *;

.header-active {
    a {
        color: $main-color !important;
    }
}

.header-homepage-menu {
    @include flex(center, center);
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;

    &-logo {
        height: 101% !important;
    }

    &-search {
        justify-content: left !important;

        input,
        input::placeholder {
            font-family: var(--font-family);
            color: white !important;
        }

        & > div {
            margin-left: 30px !important;
        }
    }

    &-content,
    &-content > a,
    &-search,
    &-card {
        color: white;
        display: flex !important;
        align-items: center;
    }

    &-card {
        border-left: 1px solid rgba(255, 255, 255, 0.3) !important;
        justify-content: center;
    }

    &-label {
        top: 0.8rem !important;
        left: 5.8rem !important;

        @include mobile {
            top: 0.8rem !important;
            left: 3.1rem !important;
        }

        @include tablet {
            left: 4.1rem !important;
        }
    }
}

// @media screen and (min-width: 767px) and (max-width: 1024px) {
//     .label-count {
//         top: 10px !important;
//         left: 37px !important;
//     }
// }

// @media screen and (max-width: 767px) {
//     .wrapper {
//         height: 60px;
//     }

//     .label-count {
//         top: 4px !important;
//         left: 49px !important;
//     }
// }
