@use '../../scss/' as *;

.header-active {
    a {
        color: $main-color !important;
    }
}

.header-homepage-menu {
    @include flex(center, center);
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;

    &-logo {
        height: 101% !important;
    }

    &-search {
        justify-content: left !important;

        input,
        input::placeholder {
            font-family: var(--font-family);
            color: white !important;
        }

        & > div {
            margin-left: 30px !important;
        }
    }

    &-content,
    &-content > a,
    &-search,
    &-card {
        color: white;
        display: flex !important;
        align-items: center;
    }

    &-card {
        border-left: 1px solid rgba(255, 255, 255, 0.3) !important;
        justify-content: center;
    }

    &-label {
        top: 0.8rem !important;
        left: 5.8rem !important;

        @include tablet {
            left: 4.1rem !important;
        }
        @include mobile {
            font-family: $font-family;
            padding: 0.4rem 0.5rem !important;
            top: 1rem !important;
            left: 3.7rem !important;
        }
    }
}
.header-mobile {
    padding: 0 !important;

    &-icon {
        margin: auto 0 !important;
    }
}

.header-mobile,
.header-sidebar {
    background-color: $black !important;
    font-family: $font-family !important;
}
