@use './scss/' as *;

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 100%;

    @include tablet {
        font-size: 85%;
    }

    @include mobile {
        font-size: 60%;
    }
}

body {
    font-family: $font-family !important;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.5;

    color: $black;

    @include mobile {
        margin-bottom: 3rem;
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: $font-family !important;
    }

    .ui.segment {
        box-shadow: none;
        -webkit-box-shadow: none;
        border: none;
    }
    .ui.grid,
    p {
        margin: 0;
    }

    .ui.menu.fixed {
        left: auto;
        right: auto;
        top: 0;
    }
    // reset padding grid
    .ui.grid > .row,
    .ui.grid > .row > .column {
        padding: 0;
    }
    //reset box shadow icon
    i.bordered.icon {
        box-shadow: none;
    }

    // border none
    .ui.button,
    .ui.input > input,
    .ui.action.input:not([class*='left action']) > .button:last-child {
        border-radius: 0;
    }

    a {
        color: $black;
    }

    .breadcrumbActive {
        a {
            color: $black !important;
            font-weight: 700;
            font-size: 1.2rem;
        }
    }

    @media only screen and (max-width: 767px) {
        .ui.container {
            width: 90% !important;
        }
    }
}

@media (hover: hover) {
    a:hover {
        color: $main-color;
    }
}
