$body-bg: #f6f6f6;
$main-color: #ff0000;

$white: #fff;
$black: #000;

$header-height: 5rem;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Fjalla One', sans-serif;
